$amarillo: #FEBF14;
$naranja: #E9550D;
$rojo: #DA3A3F;
$verde: #95B818;
$dorado: #cfbd79;
$azul: #225890;
$azul2: #5581b1;
$turquesa: #69aebc;

a{
	@apply text-teal-500;
}
p{
    @apply mb-4;
}

input[type="number"],input[type="text"],input[type="email"],input[type="date"],input[type="tel"],
input[type="time"],input[type="search"],input[type="url"],select,textarea{
    height: 36px;
	width: 100%;
	background-color: white !important;
    border: 1px solid #aaa;
    padding: .5rem
}
	
textarea{
    height: 80px;
}
	
section.error-404{
    padding-top: 6rem;
	text-align: center;
}
	
iframe{
    width: 100%;
} 

.search-submit,
.comment-form .submit,
.wpcf7-submit,
.btn{

    @apply inline-block px-4 py-3 uppercase bg-transparent font-bold  border-2 border-solid border-black text-black cursor-pointer;

    &:hover{
        @apply bg-black text-white
    }
}
	
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{
    border-radius: 0 !important;
	height: 36px !important;
	//min-height 36px !important
}
	
.select2-container{
	width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top: 1px !important;
	background-color: #BF1C2D !important;
	color: white;
}
	
	
.wpcf7-form-control-wrap.date.flatpickr-input.flatpickr-mobile,
.wpcf7-form-control-wrap.time.flatpickr-input.flatpickr-mobile{
    display: none;
}
	



	
	
	
	
		
	
